body{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px
  padding: 2px;
  background-color: #84CAE7;
}
.bannerhead {
  padding: 60px;
  background-color: #136F63;
  color: White;
  text-align:center;
  font-size: 30px;
}
.bannermini {
  padding:20px;
  background-color: #0D5945;
  color:White;
  text-align: left;
  font-size: 24px;
}
/*
taken from https://www.w3schools.com/howto/howto_css_button_group.asp
*/
.btn-group button {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #74E7DB;
  border: 1px solid black;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none;
}
.btn-group button:hover {
  background-color: #2EDCCA;
}
.selfie {
  float: right;
  margin: auto;
  width: 333.75px;
  height: 445.5px;
  border:2px solid #22AAA1;
}
.borderselfie {
  border-radius: 25px;
  border: 3px solid #2EDCCA;
  background-color: White;
  padding:20px;
  width:850px;
  height: 400px;
  font-size: 24px;
}
/* taken from https://www.computerhope.com/issues/ch001392.htm*/
.textbox {
  border-radius: 25px;
  border: 3px solid #2EDCCA;
  background-color: White;
  padding:20px;
  max-width: 100%;
  max-height: 100%;
  font-size: 18px;
}
hr.divider {
  border-top: 5px solid #0D5945;
  border-radius: 2.5px;
}
/* taken from https://www.w3schools.com/tags/tag_summary.asp*/
details > summary {
  padding: 4px;
  max-width: 100%;
  background-color: #74E7DB;
  border: 1px solid black;
  cursor: pointer;
}
details > p {
  background-color: #2EDCCA;
  padding: 4px;
  margin: 0;
}
